/* Definição das cores principais */
:root {
  --primary-color: #3b49df;
  --secondary-color: #2a2c39;
  --light-color: #f9f9f9;
  --dark-color: #1e1f2f;
}

/* Estilo básico para todo o documento */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light-color);
  color: var(--secondary-color);
}

/* Estilo para o cabeçalho */
header {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 1rem;
  text-align: center;
}

/* Estilo para a navegação */
nav {
  background-color: var(--secondary-color);
  color: var(--light-color);
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: var(--light-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}
/* 
nav a:hover {
  background-color: var(--primary-color);
}

nav a.active {
  background-color: var(--primary-color);
} */

/* Estilo para o conteúdo principal */
main {
  padding: 2rem;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--dark-color);
}

main section {
  background-color: var(--light-color);
  color: var(--secondary-color);
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  text-align: center;
}

main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

main li {
  margin-bottom: 0.5rem;
}

main a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

main a:hover {
  color: var(--secondary-color);
}

main button.btn-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

main button.btn-primary:hover {
  background-color: var(--secondary-color);
}

.h4admpanel {
  height: 70px;
}

.align-items-start {
  height: 210px;
}
