/* Define estilos para o corpo do documento */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Define estilos para o cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Define estilos para o título do cabeçalho */
header h1 {
  margin: 0;
}

/* Define estilos para a navegação */
nav {
  background-color: #ccc;
  padding: 10px;
}

/* Define estilos para a lista de navegação */
ul li {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

/* Define estilos para cada item da lista de navegação */
nav li {
  display: inline-block;
  margin-right: 10px;
}

/* Define estilos para cada link da lista de navegação */
nav a {
  color: #333;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

/* Define estilos para cada link da lista de navegação quando estiver ativo */
nav a.actives {
  background-color: #333;
  color: #fff;
}

/* Define estilos para as seções de conteúdo */
section {
  padding: 20px;
  margin: 20px 0;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

/* Define estilos para o título de cada seção de conteúdo */
section h2 {
  margin: 0 0 10px 0;
  color: #333;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.alingCenter {
  text-align: center;
}
